.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
}

th,
td {
    padding: 12px;
    text-align: left;
}

thead {
    background-color: #F3F4F6;
    color: #ffffff;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.btn-primary {
    background-color: #000000;
    border-color: #000000;
    color: #ffffff;
}

.text-center {
    text-align: center;
}

.row:not(:last-child) {
    margin-bottom: 20px;
}