.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}


.main-container {
    flex: 1;
    display: flex;
}

.side-nav {
    width: 350px;
    min-width: 230px;
    min-height: calc(100vh - 60px);
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    @media only screen and (max-width: 768px) {
        width: 100px;
        min-width: 100px;
        padding: 0 10px;
    }
}

.main {
    flex: 1;
    padding: 30px;
}