<div class="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/dashboard-home" routerLinkActive="active"
                (click)="onLinkClick('Dashboard Home')">
                Dashboard Home
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/users" routerLinkActive="active" (click)="onLinkClick('Users')">
                Users
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard/requests" routerLinkActive="active"
                (click)="onLinkClick('Requests')">
                Requests
            </a>
        </li>
    </ul>
</div>