.navbar {
    background-color: white;
}

.bg-darkblue {
    background-color: black;
    /* Replace with your desired dark blue color code */
}


.navbar-dark .navbar-toggler-icon {
    background-color: rgb(246, 246, 246);
}

.nav-link {
    color: white;
}

.nav-link:hover,
.nav-link:focus {
    color: lightblue;
}

.dropdown-menu {
    background-color: white;
}

.dropdown-item {
    color: rgb(228, 228, 230);
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: rgb(255, 255, 255);
    background-color: #f8f9fa;
    /* Add a light gray background on hover/focus */
}

.account-image {
    border: 2px solid blue;
    width: 35px;
    height: 35px;
}


.logo-image {
    width: auto;
    height: 100px;
    margin-left: 80px;
}

.account {
    width: auto;
    height: 50px;
}

.caligraphie {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    height: 150px;
    color: white;
    margin-left: 350px;
}